.content-top-keyword-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  font-size: 12px;
  line-height: 1.6;
  color: #2daaed;

  .content-keyword {
    cursor: pointer;
    font-size: 12px;
    color: #55acee;
  }
}
