.mail-support-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 12px;
  color: #fff;
  
  .icon-mail {
    margin-right: 8px;
    font-size: 22px;
    font-weight: bold;
  }

  .text-email {
    font-size: 12px;
    font-weight: bold;
  }
}
