.item-songs-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 840px;

  .item-song {
    position: relative;

    margin-right: 20px;
    padding: 5px 0px;

    width: 410px;

    line-height: 24px;
    border-top: #ececec solid 1px;

    list-style: none;
    cursor: pointer;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(10),
    &:nth-child(12) {
      margin-right: 0;
    }

    &:hover > .icon_listen {
      display: none;
    }
  }
}
