.icon_time_video {
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: 0;

  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  background: transparent
    url(https://stc-id.nixcdn.com/v11/images/transparent.png) repeat;
  color: #fff;
}
