.back-top-wrapper {
  position: absolute;
  right: -80px;
  bottom: 50px;

  border-radius: 4px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
