.mv-hot {
  float: left;
  margin-bottom: 20px;

  width: 840px;
  height: 636px;

  .title-mv {
    display: flex;
    align-items: center;

    width: 100%;

    h2 {
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 36px;
      padding: 0 10px 0 0;
      margin: 0 0 10px 0;
      color: #2daaed;
    }

    .icon-right {
      color: #2daaed;
      margin-bottom: 7px;
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;

    margin: 0;
    padding: 0;

    .video-large {
      list-style: none;

      width: 840px;
      height: 250px;

      // margin-right: 20px;
      margin-bottom: 10px;

      .wrap {
        display: flex;

        width: 840px;


        .item-mv {
          width: 410px;
          padding: 0px;
          margin-right: 20px;

          list-style: none;

          &:nth-child(2) {
            margin-right: 0;
          }
        }
      }
    }

    .video-small {
      display: flex;
      // flex-flow: row nowrap;

      width: 195px;
      margin: 0 20px 20px 0;

      list-style: none;

      &:nth-child(5), &:nth-child(9) {
        margin-right: 0;
      }
    }
  }
}
