.form-search-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  right: 0;

  width: 235px;
  height: 32px;

  border-radius: 16px;
  background-color: rgba(245, 245, 245, 1);
  overflow: hidden;
}
