.box-search__action {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    right: 0;
  
    width: 235px;
    height: 32px;

    border-radius: 16px;
    
    background-color: rgba(245, 245, 245, 1);

    overflow: hidden;
  
    .icon-search {
      position: absolute;
      top: 3px;
      left: 8px;
  
      width: 32px;
      height: 32px;
      text-align: center;
      background: transparent;
  
      cursor: pointer;
    }
  
    .input-search {
      position: absolute;
      left: 40px;

      &:focus ~ .box-suggestion-wrap {
        display: block;
      }
  
      font-size: 12px;
      height: 32px;
      width: 180px;
  
      outline: none;
      border: none;
      background: transparent;
      border-color: none;
    }
  }