.wrap-video-small {
  float: left;
  margin-bottom: 10px;

  width: 840px;

  .info-song {
    z-index: 10;

    width:152px;
    line-height: 19px;

    font-size: 15px;
    cursor: pointer;

    .name-song {
      font-size: 14px;
      color: rgba(0,0,0,0.7);
      font-weight: 500;

      &:hover {
          color: #0689ba;
      }
    }

    .name-author {
      font-size: 14px;
      color: rgba(0,0,0,0.7);
      font-weight: 300;

      &:hover {
          color: #0689ba;
      }
    }
  }
}

