@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-default-wrapper {
  margin-bottom: 20px;
  width: 840px;

  .img-default {
    width: 840px;
    height: 339px;
    cursor: pointer;
  }

  .thumbnail-slide {
    position: relative;
    width: 840px;
    height: 79px;
    background-color: #23262d;

    .thumbnail-item {
      float: left;
      animation: fadeIn ease-in 0.5s;
      width: 100%;
      box-sizing: border-box;

      .active {
        border: #e74c3c 4px solid;
        box-sizing: border-box;
      }

      .item-img {
        margin: 8px 5px 0px 5px;
        width: 158px;
        height: 63px;
        cursor: pointer;
      }
    }
  }
}
