.footerCooperation {
    background-color:blue;

    width: 100%;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    .footerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}