.footer-cooperation {
  padding-bottom: 10px;

  width: 100%;
  height: 180px;

  background-color: #efefef;

  .footer-container {
    margin: 0 auto;

    width: 1170px;

    background-color: red;
  }
}
