.footer-cooperation-wrapper {
  position: relative;

  width: 100%;
  padding-bottom: 15px;

  background-color: #efefef;

  .footer-container-inner {
    margin: 15px auto 0 auto;

    width: 1170px;
  }
}
