.menu-top-wrap {
  .menu-top {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;

    align-items: center;

    width: auto;
    margin: 0;
    padding-left: 0;

    list-style: none;

    .logo {
      background: url("https://stc-id.nixcdn.com/v11/images/header_new/logo_new.png")
        no-repeat;
      width: 64px;
      height: 40px;
      background-size: 100%;
      margin: 2px 18px 0 0;
    }

    .item,
    .item-text {
      padding: 1px 16px 0 0;
      font-size: 15px;
      color: #222222;
      font-weight: 400;

      cursor: pointer;
    }

    .item {
      position: relative;
      margin-bottom: 5px;

      cursor: pointer;

      .text-title {
        font-weight: 400;
      }

      &:hover .text-title {
        color: #2daaed;
      }
    }

    .item--song:hover .wrap-menu-dropdown {
      display: block;
    }

    .item--playlist:hover .wrap-menu-dropdown {
      display: block;
    }

    .item--collection:hover .wrap-menu-collection-dropdown {
      display: block;
    }

    .item--video:hover .wrap-menu-dropdown {
      display: block;
    }

    .item--chart:hover .wrap-chart-dropdown {
      display: block;
    }

    .item--topic:hover .wrap-menu-topic-dropdown {
      display: block;
    }

    .item--top100:hover .wrap-top100-dropdown {
      display: block;
    }

    .item--topic-other:hover .wrap-topic-other-dropdown {
      display: block;
    }
  }
}
