.box-icon-listen-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: 36px;

  .icon_listen {
    display: block;
    margin-right: 3px;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
  }

  .number-view {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
  }
}
