.boxContent {
    margin-top: 18px;

    .wrap {
        position: relative;

        .contentWrap {
            max-width: 1170px;
            margin: 0 auto;
            position: relative;
        }
    }
}