.listAlbum {
  display: flex;
  align-items: center;
  justify-content: center;

  float: left;
  margin-bottom: 10px;
  text-align: center;

  height: 242px;
  width: 100%;

  background-color: #282c34;
}
