.copy-right-wrapper {
  width: 100%;
  height: 64px;

  background-color: #2c84ee;

  .copy-right-inner {
    width: 1170px;
    margin: 0 auto;
    max-width: 100%;

    display: grid;
    grid-template-columns: 600px 150px 150px auto;
    grid-template-rows: auto;
  }
}
