.address-company-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin-top: 23px;
  cursor: pointer;
  color: #fff;

  &:hover {
    opacity: 0.5;
  }

  .icon-address {
    margin: -3px 11px 6px 0;
    font-size: 20px;
  }

  .address-company {
    margin: -10px 8px 0 0;

    font-size: 12px;
    font-weight: bold;
  }
}
