.address-company-wrapper {
  margin-top: 23px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  color: #fff;

  .icon-address {
    font-size: 19px;
    margin: 0px 3px 6px 0;
  }
  .address-company {
    margin: -4px 8px 0 0;

    font-size: 12px;
    font-weight: bold;
  }
}
