.content-company-wrapper {
    .c-name {
        margin: 0 0 8px 0;

        font-size: 16px;
        color: #909090;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.4;
    }

    .t-detail {
        font-size: 13px;
        color: #909090;
        line-height: 22px;
    }
}