.title-box-key-wapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  h2 {
    margin: 0 0 10px 0;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    color: #2daaed;
    cursor: pointer;
    text-transform: uppercase;
  }

  .icon-right {
    margin: 0 0 15px 10px;
    cursor: pointer;
    color: #2daaed;
  }
}
