.icon-right {
  margin-right: 10px;

  cursor: pointer;

  font-size: 8px;
  
  color: #00000080;
}

.item-text {
  cursor: pointer;

  font-size: 12px;
  color: #00000080;

  &:hover {
    color: #0689ba;
  }
}
