.button-pre {
  position: absolute;
  top: 23px;
  z-index: 9999999;

  border-radius: 4px;
  width: 56px;
  height: 56px;

  background-color: white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .icon-button-left {
    position: absolute;

    top: 16px;
    left: 16px;

    font-size: 24px;

    color: #cdcdcd;
  }
}
