.icon_play-small-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  width: 36px;
  height: 36px;

  font-size: 36px;
  color: #fff;
  display: none;

  .icon-ant-play-circle {
    position: absolute;
  }
}
