.menuHeader {
    width:100%;
    z-index: 9999;
    border-bottom: #dadada solid 1px;
    // padding: 6px 0 7px 0;

    .wrap {
        position: relative;

        .contentWrap {
            max-width: 1170px;
            position: relative;
            margin: 0 auto;
    
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
    
            height: 56px;
        }
    }

}