.menu-header {
  z-index: 9999;

  width: 100%;
  border-bottom: #dadada solid 1px;

  &__wrap {
    position: relative;

    .contentWrap {
      position: relative;
      
      display: flex;
      max-width: 1170px;
      margin: 0 auto;
      height: 56px;

      flex-flow: row nowrap;
      align-items: center;

    }
  }
}
