.menu-top-wrapper {
  width: 100%;
  &-inner {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: auto;

    margin: 0;
    width: auto;
    padding-left: 0;
    align-items: center;
    list-style: none;
  }
}
