@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-song-dropdown-wrapper {
  position: absolute;
  top: 173%;
  left: 0;
  z-index: 9999;

  display: none;
  animation: fadeIn ease-in 0.5s;

  margin-bottom: 15px;
  box-shadow: 0 3px 8px #03030342;
  border-radius: 3px;
  width: 550px;
  padding-left: 30px;
  background: #fff;

  .menu-dropdown-inner {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;

    margin-bottom: 16px;
    list-style: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -24px;
    left: 0px;
    width: 62px;
    height: 25px;
  }
}
