.header-icon-logo-menu-wrapper {
    cursor: pointer;
    .icon-logo-menu {
        margin: 2px 18px 0 0;

        width: 64px;
        height: 33px;

        background-size: 100%;
        background-repeat: no-repeat;
      }
}