.thumbnail {
    position: relative;
    background-color: #fff;
    
    &__content {
      margin: 0;
      padding: 0;

      width:840px;
      height: 339px;

      list-style: none;

      .thumbnail__item {
        float: left;
        width:840px;
        height: 339px;

        img {
            float: left;
            width:840px;
            height: 339px;
        }
      }
    }
  }