.navigationThree {
    // width: calc(33.333333% - 48px);
    width: calc(100%/3);    
    // margin: 0 48px 0 0;

    background-color: royalblue;

    display: flex;
    justify-content: center;
    align-items: center;
}