.thumbnail-video-small {
  position: relative;
  margin-bottom: 8px;
  width: 195px;
  height: 109px;

  cursor: pointer;

  .action-info {
    position: absolute;
    width: 195px;
    height: 109px;
    z-index: 2;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      transition: all 0.45s ease 0s;
    }

    &:hover > .icon_play {
      display: block;
      transition: all 0.45s ease 0s;
    }

    .view-listion {
      position: absolute;
      right: 0;

      font-size: 12px;
      padding: 0 5px 0 15px;
      line-height: 24px;

      background: url(https://stc-id.nixcdn.com/v11/images/bg_view_listen.png)
        left top;

      color: #c7c7c7;

      .icon-listen {
        float: left;

        width: 14px;
        height: 14px;
        margin: 8px 3px 0 0;

        background: url(https://stc-id.nixcdn.com/v11/images/icon-repeat.png)
          0px -202px no-repeat;
      }

      .number {
        color: #c7c7c7;
        font-size: 12px;
        line-height: 24px;
      }
    }

    .icon_play {
      display: none;
      position: absolute;
      z-index: 9999;

      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);

      width: 48px;
      height: 48px;

      background: url(https://stc-id.nixcdn.com/v11/images/icon.png) left -28px no-repeat;
    }
  }

  .avatar {
    position: absolute;
    z-index: 1;

    width: 195px;
    height: 109px;

    img {
      max-width: 100%;
      width: 195px;
      height: 109px;
    }
  }

  .icon_time_video {
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: 0;

    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    line-height: 16px;

    background: transparent
      url(https://stc-id.nixcdn.com/v11/images/transparent.png) repeat;

    color: #fff;
  }
}
