.wrap-topic-other-dropdown {
  position: absolute;
  top: 162%;
  left: 0;
  z-index: 9999;

  width: 120px;
  padding: 10px 10px;

  box-shadow: 0 3px 8px #03030342;
  border-radius: 3px;
  
  background: #fff;

  display: none;

  .item-dropdown {
    list-style: none;

    .wrap-item-small {
      list-style: none;

      .item-small {
        margin: 10px 0 0 10px;

        &:hover {
          color: #2daaed;
        }
        &:hover .name-country {
          color: #2daaed;
        }
      }
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;

    top: -24px;
    left: 0px;

    width: 62px;
    height: 25px;
  }
}
