.wrap-box-login-logout-dropdown {
    position: absolute;
    top: 112%;
    z-index: 9999;
    left: 28px;

    width:135px;

    background: #fff;
    padding: 10px 10px;
    box-shadow: 0 1px 2px #f5f5f5;

    display: none;

    .item-dropdown {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;

      .wrap-item-small {
        list-style: none;

        .item-small {
          &:hover {
            color: #2daaed;
          }
          &:hover .name-country  {
            color: #2daaed;
          }
        }
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -24px;
      left: 0px;
      width: 62px;
      height: 25px;
    }
}