.item-mv-large-wrapper {
  margin-bottom: 10px;
  width: 840px;
  height: 250px;
  list-style: none;

  .mv-large-inner {
    display: flex;
    width: 840px;

    .item-mv-large {
      margin-right: 20px;
      padding: 0px;
      width: 410px;
      list-style: none;

      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}
