.input-search-form {
  position: absolute;
  left: 40px;

  border: none;
  height: 32px;
  width: 180px;
  font-size: 12px;
  outline: none;
  background: transparent;
  border-color: none;

  &:focus ~ .suggestion-wrapper {
    display: block;
  }
}
