.listAlbum {
    float: left;
    margin-bottom: 10px;

    background-color:#282c34;
    height:242px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}